<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.mall.mapper.PmsBaseCatalog3Mapper">
  <resultMap id="BaseResultMap" type="com.cf.mall.bean.PmsBaseCatalog3">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="catalog2_id" jdbcType="BIGINT" property="catalog2Id" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, catalog2_id
  </sql>

</mapper>