<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.mall.mapper.PmsBaseAttrInfoMapper">
  <resultMap id="BaseResultMap" type="com.cf.mall.bean.PmsBaseAttrInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="catalog3_id" jdbcType="BIGINT" property="catalog3Id" />
    <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
  </resultMap>
  <sql id="Base_Column_List">
    id, attr_name, catalog3_id, is_enabled
  </sql>

</mapper>