<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.mall.manage.mapper.PmsSkuInfoMapper">
  <resultMap id="BaseResultMap" type="com.cf.mall.bean.PmsSkuInfo" autoMapping="true">
    <id column="si_id" jdbcType="BIGINT" property="id" />
    <collection property="skuSaleAttrValueList" ofType="com.cf.mall.bean.PmsSkuSaleAttrValue" autoMapping="true">
      <id column="sav_id" jdbcType="BIGINT" property="id" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, price, sku_name, sku_desc, weight, tm_id, catalog3_id, sku_default_img
  </sql>

  <select id="selectSkuValue" resultMap="BaseResultMap">
    SELECT
      si.id si_id,si.*,sav.id sav_id,sav.*
    FROM
      pms_sku_info si,
      pms_sku_sale_attr_value sav
    WHERE
      si.id = sav.sku_id
      AND si.product_id = 82
  </select>
</mapper>