<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.mall.mapper.PmsSkuInfoMapper">
  <resultMap id="BaseResultMap" type="com.cf.mall.bean.PmsSkuInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_desc" jdbcType="VARCHAR" property="skuDesc" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="tm_id" jdbcType="BIGINT" property="tmId" />
    <result column="catalog3_id" jdbcType="BIGINT" property="catalog3Id" />
    <result column="sku_default_img" jdbcType="VARCHAR" property="skuDefaultImg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, price, sku_name, sku_desc, weight, tm_id, catalog3_id, sku_default_img
  </sql>

</mapper>