<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.mall.payment.mapper.PaymentInfoMapper">
  <resultMap id="BaseResultMap" type="com.cf.mall.bean.PaymentInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="alipay_trade_no" jdbcType="VARCHAR" property="alipayTradeNo" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="payment_status" jdbcType="VARCHAR" property="paymentStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="callback_content" jdbcType="VARCHAR" property="callbackContent" />
    <result column="callback_time" jdbcType="TIMESTAMP" property="callbackTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_sn, order_id, alipay_trade_no, total_amount, subject, payment_status, create_time, 
    confirm_time, callback_content, callback_time
  </sql>

</mapper>